@typeparam T
@inherits BlazorgenComponentBase

@{
  var PageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var permissionSet = Security?.GetPermissionSet(this.GetType()).Result;
}
<PageTitle>@Title</PageTitle>
@if (ShowActions)
{
  <ActionBar Context="this" PageActions="PageActions" />
}
else
{
  <h2>@Title</h2>
}
<div style="padding:10px;">

  <CardFields T="T"
              Data="Content"
              PermissionSet="permissionSet"
              GridSize="GridSize"
              ShowButtons="ShowButtons"
              VisibleFields="VisibleFields"
              OnDiscard="(data) => OnDelete(data)"
              OnSave="(data) => OnSave(data)" />

</div>