@typeparam T
@inherits BlazorgenComponentBase

@{
  var PageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var permissionSet = Security?.GetPermissionSet(this.GetType()).Result;
}
<PageTitle>@Title</PageTitle>
<div style="height:100%">
  @if (ShowActions)
  {
    <ActionBar Context="this" PageActions="PageActions" />
  }
  else
  {
    <h2>@Title</h2>
  }
  <FluentPullToRefresh Direction="@PullDirection.Down"
                       OnRefreshAsync="OnRefreshAsync"
                       ShowStaticTip="false"
                       Disabled="BlazorGeneratorSettings.Instance.DisablePullToRefresh"
                       Style="height: auto !important">

    <ChildContent>
      <div style="padding:10px;">

        <CardFields T="T"
                    Data="Content"
                    PermissionSet="permissionSet"
                    GridSize="GridSize"
                    ShowButtons="ShowButtons"
                    VisibleFields="VisibleFields"
                    OnDiscard="(data) => OnDelete(data)"
                    OnSave="(data) => OnSave(data)"
                    />

      </div>
    </ChildContent>
  </FluentPullToRefresh>
  </div>