@typeparam TFirstList
@typeparam TSecondList
@inherits BlazorgenComponentBase
@{
  var PageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var gridActions = AttributesUtils.GetMethodsWithAttribute<GridActionAttribute>(this);
  var permissionSet = Security?.GetPermissionSet(this.GetType()).Result;
}
<PageTitle>@Title</PageTitle>
<div style="display: flex; flex-flow: column; height: 100%;">
  <div style="height: max-content;">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="PageActions" />
    }

    </div>
    <div style="padding:10px; overflow:auto; height:100%" class="contentblock">
      <FluentSplitter Orientation="Orientation.Horizontal" Panel1Size="50%">
        <Panel1>
          <ListDataGrid T="TFirstList"
                        Context="this"
                        Data="FirstListContent?.AsQueryable()"
                        VisibleFields="FirstListVisibleFields"
                        OnDiscard="(data) => OnDelete(data)"
                        OnSave="(data) => OnSave(data)"
                        PermissionSet="permissionSet"
                        @bind-Selected="FirstListSelected"
                        ShowButtons="ShowButtons"
                        GridActions="gridActions"
                        EditFormType="FirstListEditFormType" />
        </Panel1>
        <Panel2>
          <ListDataGrid T="TSecondList"
                        Context="this"
                        Data="SecondListContent?.AsQueryable()"
                        VisibleFields="SecondListVisibleFields"
                        OnDiscard="(data) => OnDelete(data)"
                        OnSave="(data) => OnSave(data)"
                        PermissionSet="permissionSet"
                        @bind-Selected="SecondListSelected"
                        ShowButtons="ShowButtons"
                        GridActions="gridActions"
                        EditFormType="SecondListEditFormType" />
        </Panel2>
      </FluentSplitter>
    </div>

  </div>
