.GridContainer {
  overflow-x: auto;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.GridContainer ::deep thead {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.GridContainer ::deep .datagrid-toolbar {
  padding: 4px 8px;
  flex: 0 0 auto;
  margin-bottom: 4px;
  background: transparent;
}

.GridContainer ::deep fluent-toolbar {
  background: transparent;
}

.datagrid-table-wrapper {
  overflow: auto;
  flex: 1 1 auto;
}

.datagrid-header-add-btn {
  width: 90%;
  text-align: center;
}

.datagrid-context-menu {
  position: fixed;
  z-index: 10;
}

.datagrid-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}