.rowselected {
  background: var(--neutral-fill-secondary-rest)
}

.GridContainer {
  overflow-x: auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}

thead {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datagrid-excel-btn {
  margin-right: 10px;
}

.datagrid-table-wrapper {
  overflow: auto;
  flex: 0 1 auto;
}

.datagrid-header-add-btn {
  width: 90%;
  text-align: center;
}

.datagrid-context-menu {
  position: fixed;
  z-index: 10;
}
