.layout-header-toolbar {
  padding-right: 6px;
  margin-left: 0;
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
}

.layout-content {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
}
