@implements IDialogContentComponent<ActionLogger>
@implements IDisposable
@inject IJSRuntime JSRuntime

<FluentSwitch @bind-Value="ShowVerbose"
              @bind-Value:after="Refresh"
              Style="margin-bottom:5px;"
              Label="Verbose Logs: ">
    <span slot="checked-message">Show</span>
    <span slot="unchecked-message">Hide</span>
</FluentSwitch>

<div class="action-log-panel" @ref="DivRef">
    @if (Content.Entries.Count == 0)
    {
        <FluentLabel Color="Color.Neutral">No log entries yet.</FluentLabel>
    }
    else
    {
        <Virtualize Items="@logEntries">
            <ChildContent>
                <FluentLabel Color="@GetColor(context.LogLevel)">
                    <span class="action-log-timestamp">@context.Timestamp.ToString("HH:mm:ss.fff")</span>
                    @context.Message
                </FluentLabel>
            </ChildContent>
        </Virtualize>
    }
</div>

@code {
    [Parameter] public ActionLogger Content { get; set; } = default!;

    [CascadingParameter] public FluentDialog? Dialog { get; set; }

    private List<ActionLogEntry> logEntries = [];
    private ElementReference DivRef;
    bool ShowVerbose = false;

    protected override void OnInitialized()
    {
        if (Dialog != null)
            Dialog.Style = "--dialog-width: 60%; --dialog-height: 60%; padding: 2rem;";
        Content.OnChange += Refresh;
        RefreshEntries();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("scrollToEnd", DivRef);
        base.OnAfterRender(firstRender);
    }

    private void Refresh()
    {
        InvokeAsync(() =>
        {
            RefreshEntries();
            StateHasChanged();
        });
    }

    private void RefreshEntries()
    {
        if (ShowVerbose)
        {
            logEntries = Content.Entries.ToList();
        }
        else
        {
            logEntries = Content.Entries.Where(e => e.LogLevel != LogLevel.Debug && e.LogLevel != LogLevel.Trace).ToList();
        }
    }

    private static Color GetColor(LogLevel logLevel)
    {
        return logLevel switch
        {
            LogLevel.Error or LogLevel.Critical => Color.Error,
            LogLevel.Warning => Color.Warning,
            LogLevel.Debug or LogLevel.Trace => Color.Lightweight,
            _ => Color.Neutral
        };
    }


    public void Dispose()
    {
        if (Content != null)
            Content.OnChange -= Refresh;
    }

}
<script>
    function scrollToEnd(element) {
      element.scrollTop = element.scrollHeight;
    }
</script>
