@implements IDialogContentComponent<ActionLogger>
@implements IDisposable

<div style="overflow-y: auto; height: 80%; ">
  @if (Content.Entries.Count == 0)
  {
    <FluentLabel Color="Color.Neutral">No log entries yet.</FluentLabel>
  }
  else
  {
    <Virtualize Items="@logEntries">
      <ChildContent>
        <FluentLabel Color="@GetColor(context.LogLevel)">
          <span
            style="color: var(--neutral-foreground-hint); margin-right: 0.5rem;">@context.Timestamp.ToString("HH:mm:ss.fff")</span>
          @context.Message
        </FluentLabel>
      </ChildContent>
    </Virtualize>
  }
</div>

@code {
  [Parameter] public ActionLogger Content { get; set; } = default!;

  [CascadingParameter] public FluentDialog? Dialog { get; set; }

  private List<ActionLogEntry> logEntries = [];
  bool ShowTimestaps = true;

  protected override void OnInitialized()
  {
    if (Dialog != null)
      Dialog.Class = "actionlogdialog";
    Content.OnChange += Refresh;
    RefreshEntries();
  }

  private void Refresh()
  {
    InvokeAsync(() =>
    {
      RefreshEntries();
      StateHasChanged();
    });
  }

  private void RefreshEntries()
  {
    logEntries = Content.Entries.ToList();
  }

  private static Color GetColor(LogLevel logLevel) => logLevel switch
  {
    LogLevel.Error or LogLevel.Critical => Color.Error,
    LogLevel.Warning => Color.Warning,
    LogLevel.Debug or LogLevel.Trace => Color.Neutral,
    _ => Color.Neutral,
  };

  private static string GetBadgeColor(LogLevel logLevel) => logLevel switch
  {
    LogLevel.Error or LogLevel.Critical => "var(--error)",
    LogLevel.Warning => "var(--warning)",
    LogLevel.Information => "var(--accent-fill-rest)",
    LogLevel.Debug or LogLevel.Trace => "var(--neutral-fill-rest)",
    _ => "var(--neutral-fill-rest)",
  };

  public void Dispose()
  {
    if (Content != null)
      Content.OnChange -= Refresh;
  }

}

<style>
  .actionlogdialog {
    --dialog-width: 60% !important;
    --dialog-height: 60% !important;
    padding: 2rem !important;
  }
</style>