::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

html, body * {
  scrollbar-color: #bfbfbf transparent;
  scrollbar-width: thin;
}

.img-circle {
  border-radius: 4.25rem !important;
}


:root {
  --b-divider-thickness: 1px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: #6c757d;
  text-align: left;
  background-color: #f7f9fc;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
  flex-direction: column;
}

.content {
  padding: 2.5rem 2.5rem 1.5rem;
  flex: 1;
  direction: ltr;
}

.badge {
  display: inline-block;
  padding: .3em .45em;
  font-size: 80%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .2rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

./*btn {
  font-weight: 400;
  padding: .25rem .7rem;
  font-size: .825rem;
  line-height: 1.625;
  border-radius: .2rem;
}

.btn-group-sm > .btn, .btn-sm {
  padding: .15rem .5rem;
  font-size: .75rem;
  line-height: 1.625;
  border-radius: .1rem;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .35rem 1rem;
  font-size: .95rem;
  line-height: 1.625;
  border-radius: .3rem;
}*/

.card {
  margin-bottom: 24px;
  box-shadow: 0 0 0.875rem 0 RGB(41, 48, 66/5%);
}

  .card .card-header .card-title {
    font-size: .95rem;
    font-weight: 500;
    color: #414b54;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

.card-subtitle {
  font-weight: 400;
  margin-top: -.5rem;
}

.card-subtitle, .card-text:last-child {
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.84062rem + 2px);
  padding: .25rem .7rem;
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.625;
  color: #414b54;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .2rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.84062rem + 2px);
  padding: .25rem 1.7rem .25rem .7rem;
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.625;
  color: #414b54;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23020202' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.7rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: .2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .25rem .7rem;
  margin-bottom: 0;
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.625;
  color: #414b54;
  text-align: center;
  white-space: nowrap;
  background-color: #e2e8ee;
  border: 1px solid #ced4da;
  border-radius: .2rem;
}

.input-group-lg > .custom-select, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
  padding: .35rem 1rem;
  font-size: .95rem;
  line-height: 1.625;
  border-radius: .3rem;
}

.input-group-sm > .custom-select, .input-group-sm > .form-control:not(textarea) {
  height: calc(1.51875rem + 2px);
}

.input-group-sm > .custom-select, .input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
  padding: .15rem .5rem;
  font-size: .75rem;
  line-height: 1.625;
  border-radius: .1rem;
}

.table.b-datagrid + .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav.nav-tabs .nav-item .nav-link.active {
  background: #fff;
  color: #020202;
}

.nav.nav-tabs .nav-item .nav-link {
  background: transparent;
  color: #020202 !important;
  padding: .75rem 1rem;
  border: 0;
}

.tab-content {
  background: #fff;
  padding: 1.25rem;
}

.nav.nav-tabs + .tab-content {
  box-shadow: 0 0.1rem 0.2rem RGB(0 0 0/5%);
  border-radius: 0 0 .2rem .2rem;
}

.tab-content h4 {
  font-size: .95rem;
}

.tab-vertical-left .col-auto {
  padding-right: 0;
}

.tab-vertical-left .col {
  padding-left: 0;
}

.tab-vertical-right .col-auto {
  padding-left: 0;
}

.tab-vertical-right .col {
  padding-right: 0;
}

h6 {
  font-size: .825rem;
}

.text-sm {
  font-size: .75rem;
}

.text-lg {
  font-size: .95rem;
}

.illustration {
  background: white;
  color: #497aca;
}

.stat {
  background: #e0eafc;
  border-radius: 50%;
  padding: .75rem;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}

  .stat i {
    color: #497aca !important;
    text-align: center !important;
  }
