<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="EOS ProGet" value="https://nuget.eos-solutions.it/nuget/Default/" />
        <add key="DevExpress" value="https://nuget.devexpress.com/3jcO7iWBBq1yIFQ1HIukrTiAyzW3Ksyr4U5t2zOQRZcf6mclIy/api" />
    </packageSources>
</configuration>