
<FluentAccordion>

    <FluentAccordionItem Heading="Log">
        <div style="max-height: 150px; overflow-x: hidden; overflow-y: auto">
            Robe nel log
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            E questo
        </div>
    </FluentAccordionItem>

</FluentAccordion>