@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace TestNet6.Pages

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="~/" />
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />


</head>
<body>
	@RenderBody()

	<script src="_framework/blazor.server.js"></script>
    <!-- inside of body section and after the div/app tag  -->
    <script src="_content/BlazorGenerator/common/bootstrap.bundle.min.js" ></script>


</body>
</html>
