@page "/custom"
@layout DynamicMainLayout
@using BlazorGenerator.Attributes;
@using Blazorise
@attribute [AddToMenu(Title = "My Custom Component", Route = "/custom")]

<h3>CustomPage</h3>
<p>
	This is a page that is custom made from a plain Razor Component
</p>
