@typeparam T
@inherits BlazorEngine.Components.Base.BlazorEngineComponentBase

@{
  var pageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
}
<PageTitle>@Title</PageTitle>
<div class="card-page-root">
  <div class="card-page-header">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions" />
    }
    else
    {
      <h2>@Title</h2>
    }
  </div>
  <div class="card-page-content contentblock">

    <CardFields T="T"
                @ref="Card"
                Data="Content"
                PermissionSet="permissionSet"
                GridSize="GridSize"
                ShowButtons="ShowButtons"
                VisibleFields="VisibleFields"
                OnDiscard="(data) => OnDelete(data)"
                OnSave="(data) => OnSave(data)" />

  </div>
</div>
