@typeparam T
@inherits BlazorEngine.Components.Base.BlazorEngineComponentBase

@{
  var pageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var permissionSet = Security.GetPermissionSet(this.GetType()).Result;
}
<PageTitle>@Title</PageTitle>
<div style="display: flex; flex-flow: column; height: 100%;">
  <div style="height: max-content;">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions" />
    }
    else
    {
      <h2>@Title</h2>
    }
  </div>
  <div style="padding:10px; height: 100%; overflow-y:auto; overflow-x:hidden" class="contentblock">

    <CardFields T="T"
                @ref="Card"
                Data="Content"
                PermissionSet="permissionSet"
                GridSize="GridSize"
                ShowButtons="ShowButtons"
                VisibleFields="VisibleFields"
                OnDiscard="(data) => OnDelete(data)"
                OnSave="(data) => OnSave(data)" />

  </div>
</div>
