.card-page-root {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: 4px;
}

.card-page-header {
  flex: 0 0 auto;
}

.card-page-content {
  padding: 12px;
  padding-bottom: 8px;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}