.list-page-root {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: 4px;
}

.list-page-header {
  flex: 0 0 auto;
}

.list-page-content {
  padding: 8px 12px;
  flex: 1 1 auto;
  overflow: auto;
}