.two-list-root {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: 4px;
}

.two-list-header {
  flex: 0 0 auto;
}

.two-list-content {
  padding: 8px 12px;
  overflow: auto;
  flex: 1 1 auto;
}