@typeparam TFirstList
@typeparam TSecondList
@inherits BlazorEngineComponentBase
@{
  var pageActions = MetadataRegistry.GetPageActions(this);
  var gridActions = MetadataRegistry.GetGridActions(this);
}
<PageTitle>@Title</PageTitle>
<div class="two-list-root">
  <div class="two-list-header">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions"/>
    }

  </div>
  <div class="two-list-content contentblock">
    <FluentSplitter Orientation="Orientation.Horizontal" Panel1Size="50%">
      <Panel1>
        <ListDataGrid T="TFirstList"
                      Context="this"
                      Data="FirstListContent?.AsQueryable()"
                      VisibleFields="FirstListVisibleFields"
                      OnDiscard="data => OnDelete(data)"
                      OnSave="data => OnSave(data)"
                      PermissionSet="permissionSet"
                      @bind-Selected="FirstListSelected"
                      ShowButtons="ShowButtons"
                      GridActions="gridActions"
                      ShowExportToExcel="ShowExportToExcelFirstList"
                      EditFormType="FirstListEditFormType"/>
      </Panel1>
      <Panel2>
        <ListDataGrid T="TSecondList"
                      Context="this"
                      Data="SecondListContent?.AsQueryable()"
                      VisibleFields="SecondListVisibleFields"
                      OnDiscard="data => OnDelete(data)"
                      OnSave="data => OnSave(data)"
                      PermissionSet="permissionSet"
                      @bind-Selected="SecondListSelected"
                      ShowButtons="ShowButtons"
                      GridActions="gridActions"
                      ShowExportToExcel="ShowExportToExcelSecondList"
                      EditFormType="SecondListEditFormType"/>
      </Panel2>
    </FluentSplitter>
  </div>

</div>
