@typeparam TData
@typeparam TList
@inherits BlazorEngine.Components.Base.BlazorEngineComponentBase


@{
  var pageActions = Services.MetadataRegistry.GetPageActions(this);
  var gridActions = Services.MetadataRegistry.GetGridActions(this);
}

<PageTitle>@Title</PageTitle>
<div class="worksheet-root">
  <div class="worksheet-header">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions" />
    }

  </div>
      <div class="worksheet-card contentblock">
        <CardFields T="TData"
                    @ref="Card"
                    Data="Content"
                    PermissionSet="permissionSet"
                    GridSize="GridSize"
                    ShowButtons="ShowButtons"
                    VisibleFields="VisibleFields"
                    OnDiscard="(data) => OnDelete(data)"
                    OnSave="(data) => OnSave(data)" />
      </div>

  <div class="worksheet-list contentblock">
    <ListDataGrid T="TList"
                  @ref="List"
                  Context="this"
                  Data="ListContent?.AsQueryable()"
                  VisibleFields="ListVisibleFields"
                  OnDiscard="(data) => OnDelete(data)"
                  OnSave="(data) => OnSave(data)"
                  PermissionSet="permissionSet"
                  @bind-Selected="ListSelected"
                  ShowButtons="ShowButtons"
                  UseVirtualization="UseVirtualization"
                  GridActions="gridActions"
                  ShowExportToExcel="ShowExportToExcel"
                  EditFormType="ListEditFormType" />

  </div>
</div>