<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">test</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
       
        @{
            
            foreach (var hd in Utils.AttributesUtils.getModelsWithAttribute<AddToMenu>())
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@hd.Attribute.Route">
                        <span class="@hd.Attribute.Icon" aria-hidden="true"></span> @hd.Attribute.Title
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
