@typeparam T
@inherits BlazorGeneratorComponentBase
@{
  var pageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var gridActions = AttributesUtils.GetMethodsWithAttribute<GridActionAttribute>(this);
  var permissionSet = Security.GetPermissionSet(this.GetType()).Result;


}
<PageTitle>@Title</PageTitle>
<div style="display: flex; flex-flow: column; height: 100%;">
  <div style="height: max-content;">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions" />
    }

  </div>
    <div style="padding:10px; height: auto !important; overflow:auto;" class="contentblock">

      <ListDataGrid T="T"
                    Context="this"
                    Data="Content?.AsQueryable()"
                    VisibleFields="VisibleFields"
                    OnDiscard="(data) => OnDelete(data)"
                    OnSave="(data) => OnSave(data)"
                    OnNewItem="()=> NewItem()"
                    PermissionSet="permissionSet"
                    @bind-Selected="Selected"
                    ShowButtons="ShowButtons"
                    GridActions="gridActions"
                    EditFormType="EditFormType"
                    RefreshData="@(RefreshData)" />
    </div>

  </div>
