@typeparam TData
@typeparam TList
@inherits BlazorGeneratorComponentBase


@{
  var pageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
  var gridActions = AttributesUtils.GetMethodsWithAttribute<GridActionAttribute>(this);
  var permissionSet = Security.GetPermissionSet(this.GetType()).Result;


}
<PageTitle>@Title</PageTitle>
<div style="display: flex; flex-flow: column; height: 100%;">
  <div style="height: max-content;">

    @if (ShowActions)
    {
      <ActionBar Context="this" PageActions="pageActions" />
    }

  </div>
      <div style="padding:10px; height: auto !important" class="contentblock">
        <CardFields T="TData"
                    Data="Content"
                    PermissionSet="permissionSet"
                    GridSize="GridSize"
                    ShowButtons="ShowButtons"
                    VisibleFields="VisibleFields"
                    OnDiscard="(data) => OnDelete(data)"
                    OnSave="(data) => OnSave(data)" />
      </div>

  <div class="contentblock" style="overflow:auto; margin-top:10px;">
    <ListDataGrid T="TList"
                  Context="this"
                  Data="ListContent?.AsQueryable()"
                  VisibleFields="ListVisibleFields"
                  OnDiscard="(data) => OnDelete(data)"
                  OnSave="(data) => OnSave(data)"
                  PermissionSet="permissionSet"
                  @bind-Selected="ListSelected"
                  ShowButtons="ShowButtons"
                  GridActions="gridActions"
                  EditFormType="ListEditFormType" />

  </div>
</div>