@inherits BlazorgenComponentBase

@if (NavManager?.ToBaseRelativePath(NavManager.Uri.ToString()) != "")
{
  <FluentButton OnClick="@(() => JSRuntime.InvokeVoidAsync("history.back"))" >
    @Captions.Instance.NavigationBack
    <span slot="start">
      <FluentIcon Value="@(new Icons.Regular.Size20.ArrowCircleLeft())"  Slot="start" Color="Color.Neutral"/>
    </span>
  </FluentButton>
}